* {
    /* padding: 0; */
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "DivCodez", Arial, Helvetica, sans-serif;
    /* overflow: hidden; */
}

#leftSide-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -0px 0 20px 10px rgb(14, 12, 12);
}

#leftSide-container img {
    width: 100%;
    height: 100%;
    position: absolute;
    filter: sepia(90%) brightness(40%);
}

main {
    align-self: baseline;
    text-align: center;
    margin-top: 1em;
    z-index: 1;
}

#my-name {
    align-self: baseline;
    text-align: center;
    margin-bottom: .6em;
    color: transparent;
    -webkit-text-stroke: 1px white;
    letter-spacing: 3px;
}

#divCodez-details {
    color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    justify-self: baseline;
    align-self: baseline;
    /* word-spacing: 2px; */
    line-height: 2em;
    top: 0;
}

#image-container {
    position: absolute;
    width: 280px;
    height: 310px;
    border-radius: 50%;
    display: flex;
    place-content: center;
    place-items: center;
    right: -140px;
}

#image-container::before {
    display: flex;
    content: '';
    position: absolute;
    border-width: .3em 0 .3em 0;
    border-style: solid;
    border-color: rgba(32, 32, 32, 0.9);
    animation: rotate 8s linear infinite;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px 3px rgb(110, 110, 110) inset;
}





#leftSide-container #image-container img {
    width: 93%;
    height: 93%;
    border-radius: 50%;
    object-fit: cover;
    border-width: .2em;
    border-style: solid;
    border-color: black;
    -webkit-filter: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
}

.rightSide-container {
    /* background: green; */
    /* position: relative; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; */
    background: black;
}

.rightSide-container #fullDetails-wrapper {
    /* height: 100vh; */
}

.rightSide-container #fullDetails-wrapper ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.rightSide-container #fullDetails-wrapper ul li {
    color: transparent;
    margin-left: 1.6em;
    font-size: .7em;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-stroke: .5px white;
    z-index: 1;
    width: 80px;
    /* border: 2px solid green; */
    position: relative;
}

.rightSide-container #fullDetails-wrapper ul li::before {
    border-right: .13em solid white;
    content: attr(data-move);
    position: absolute;
    padding-right: .1em;
    /* background: var(--clr); */
    /* border: var(--clr); */
    width: 0;
    -webkit-text-stroke: .5px white;
    transition: .6s;
    color: var(--clr);
    -webkit-text-stroke: .5px var(--clr);
    overflow: hidden;
}

.rightSide-container #fullDetails-wrapper ul li:hover::before {
    width: 100%;
    color: var(--clr);
}












































/* .animation-wrapper {
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, white, black, black, black);
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-content: center;
    place-items: center;
    position: absolute;
    top: 0;
    z-index: -1;
    right: 0;
}

.bck-image-wrapper {
    width: 20em;
    height: 20em;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    position: relative;
}

.sun {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    background-color: yellow;
    box-shadow: 0 0 35px 5px white;
    align-self: center;
    justify-self: center;
    z-index: 1;
}

.moon {
    width: 100%;
    height: 100%;
    position: absolute;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-radius: 50%;
    animation: rotate 36.5s linear infinite;
}

.earth {
    width: 7em;
    height: 7em;
    border-width: .2em .2em 0 0;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-radius: 50%;
    position: relative;
    top: -1em;
    right: -14em;
    animation: rotate 4s linear infinite;
}

.earth::before {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    background-color: white;
    box-shadow: 0 0 .8em white;
    right: .5em;
    top: .5em;
    border-radius: 50%;
}

.moon::before {
    content: "";
    position: absolute;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: aqua;
    box-shadow: 0 0 10px 3px aqua;
    right: 1.8em;
    top: 1.8em;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
} */