* {
    /* padding: 0; */
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "DivCodez", Arial, Helvetica, sans-serif;
    /* overflow: hidden; */
}

#leftSide-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -0px 0 20px 10px rgb(14, 12, 12);
}

#leftSide-container img {
    width: 100%;
    height: 100%;
    position: absolute;
    filter: sepia(90%) brightness(40%);
}

main {
    align-self: baseline;
    text-align: center;
    margin-top: 1em;
    z-index: 1;
}

#my-name {
    align-self: baseline;
    text-align: center;
    margin-bottom: .6em;
    color: transparent;
    -webkit-text-stroke: 1px white;
    letter-spacing: 3px;
}

#divCodez-details {
    color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    justify-self: baseline;
    align-self: baseline;
    /* word-spacing: 2px; */
    line-height: 2em;
    top: 0;
}

#image-container {
    position: absolute;
    width: 280px;
    height: 310px;
    border-radius: 50%;
    display: flex;
    place-content: center;
    place-items: center;
    right: -140px;
}

#image-container::before {
    display: flex;
    content: '';
    position: absolute;
    border-width: .3em 0 .3em 0;
    border-style: solid;
    border-color: rgba(32, 32, 32, 0.9);
    animation: rotate 8s linear infinite;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px 3px rgb(110, 110, 110) inset;
}





#leftSide-container #image-container img {
    width: 93%;
    height: 93%;
    border-radius: 50%;
    object-fit: cover;
    border-width: .2em;
    border-style: solid;
    border-color: black;
    -webkit-filter: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
}

.rightSide-container {
    /* background: green; */
    /* position: relative; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; */
}

.rightSide-container #fullDetails-wrapper {
    /* height: 100vh; */
}

.rightSide-container #fullDetails-wrapper li {
    list-style: none;
}

.rightSide-container #fullDetails-wrapper ul li {
    color: white;
}