* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "DivCodez", Arial, Helvetica, sans-serif;
    background: #00cc99;
    overflow-x: hidden;
    -webkit-appearance: none;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
}

body::-webkit-scrollbar-thumb {
    -webkit-appearance: none;
}

.container {
    display: grid;
    grid-template-columns: 450px 1fr;
    grid-template-rows: 100vh;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 1000px) {

    .container {
        grid-template-columns: 400px 1fr;
    }
}

@media (max-width: 900px) {

    .container {
        grid-template-columns: 350px 1fr;
    }
}

@media (max-width: 800px) {

    .container {
        grid-template-columns: 11fr;
        transition: .6s;
    }

    .container.less-bright {
        filter: brightness(10%);
        pointer-events: none;
    }
}