.container .leftSide-container #image-container {
    position: absolute;
    width: 300px;
    height: 330px;
    border-radius: 50%;
    display: flex;
    place-content: center;
    place-items: center;
    right: -155px;
    z-index: 1;
}

.container .leftSide-container #image-container::before {
    display: flex;
    content: '';
    position: absolute;
    border-width: .3em 0 .3em 0;
    border-style: solid;
    border-color: #000;
    animation: rotate 15s linear infinite;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 7px 1px #00cc99 inset;
}

.container .leftSide-container #image-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border-width: .4em;
    border-style: solid;
    border-color: black;
    -webkit-filter: none;
}

@media (max-width: 1000px) {
    .container .leftSide-container #image-container {
        width: 280px;
        height: 310px;
    }
}

@media (max-width: 900px) {

    .container .leftSide-container #image-container {
        width: 260px;
        height: 290px;
    }
}

@media (max-width: 800px) {

    .container .leftSide-container #image-container {
        width: 260px;
        height: 290px;
        right: auto;
        display: flex;
        justify-self: center;
        bottom: 1em;
    }
}

@media (max-width: 600px) {

    .container .leftSide-container #image-container {
        width: 240px;
        height: 270px;
    }
}

@media (max-width: 400px) {

    .container .leftSide-container #image-container {
        width: 210px;
        height: 240px;
    }
}

@media (max-width: 290px) {

    .container .leftSide-container #image-container {
        width: 180px;
        height: 200px;
    }
}

@media (max-width: 250px) {

    .container .leftSide-container #image-container {
        width: 150px;
        height: 170px;
    }
}