.container .rightSide-container {
    display: grid;
    grid-template-columns: 1fr;
}

.container .rightSide-container #qualification-container {
    display: grid;
    justify-content: center;
    /* align-items: center; */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.container .rightSide-container #qualification-container h1 {
    display: grid;
    align-self: flex-end;
    justify-self: center;
    color: rgb(56, 56, 56);
    -webkit-text-stroke: .5px white;
    letter-spacing: 1px;
    font-size: 1.8em;
    pointer-events: none;
}

.container .rightSide-container #qualification-container h2 {
    display: grid;
    align-items: center;
    justify-self: center;
    color: rgb(70, 70, 70);
    letter-spacing: .9px;
    font-size: 1.4em;
    pointer-events: none;
}

.container .rightSide-container #qualification-container a {
    display: grid;
    align-self: baseline;
    justify-self: center;
    text-decoration: none;
    background: blue;
    color: white;
    text-transform: uppercase;
    padding: .4em;
    border-radius: .5em;
    font-weight: bold;
    letter-spacing: .05em;
    opacity: .6;
    position: relative;
}

.container .rightSide-container #qualification-container span {
    position: absolute;
    background: rgb(112, 112, 112);
    color: black;
    text-wrap: nowrap;
    padding: .1em .2em;
    border-radius: .4em;
    font-size: .75em;
    font-weight: 100;
    opacity: 0;
}

.container .rightSide-container #qualification-container span.download {
    opacity: 1;
}

.container .rightSide-container #qualification-container a:hover {
    opacity: 1;
}

.container .rightSide-container #qualification-container a:active {
    opacity: .4;
    transform: translate(.6px, -1px) scale(0.9);
}

.rightSide-container .vist-container {
    display: grid;
    justify-content: center;
    align-items: end;
    grid-template-columns: 2em 2em 2em;
    background: black;
    border-top: 2px solid white;
    margin-bottom: 2em;
    column-gap: 1em;
}

.rightSide-container .vist-container a {
    display: grid;
    font-size: 2em;
    color: white;
    background: black;
}