.container .rightSide-container {
    display: grid;
    /* justify-content: center;
    align-items: center; */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 80px;
}

.container .rightSide-container #qualification-container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-row-gap: 1.4em;
}

.container .rightSide-container #qualification-container h1 {
    display: grid;
    -webkit-text-stroke: .5px #00cc99;
    letter-spacing: 1px;
    font-size: 2em;
    pointer-events: none;
}

.container .rightSide-container #qualification-container h2 {
    display: grid;
    justify-content: center;
    color: rgb(31, 31, 31);
    letter-spacing: .9px;
    font-size: 1.4em;
    pointer-events: none;
    text-shadow: 1px 1px .2px white;
}

.container .rightSide-container #qualification-container a {
    display: grid;
    justify-self: center;
    text-decoration: none;
    background: #00cc99;
    color: white;
    text-transform: uppercase;
    padding: .6em .9em;
    border-radius: .5em;
    font-weight: bold;
    letter-spacing: .05em;
    opacity: .7;
    position: relative;
    font-style: italic;
    border: 2px solid black;
}

.container .rightSide-container #qualification-container span {
    position: absolute;
    background: rgb(112, 112, 112);
    color: black;
    text-wrap: nowrap;
    padding: .1em .2em;
    border-radius: .4em;
    font-size: .95em;
    font-weight: 100;
    opacity: 0;
    background-color: rgb(235, 235, 235);
    display: none;
}

.container .rightSide-container #qualification-container span.download {
    opacity: 1;
    display: block;
}

.container .rightSide-container #qualification-container a:hover {
    background: #00cc99;
    opacity: 1;
}

.container .rightSide-container #qualification-container a:active {
    opacity: .4;
    transform: translate(.6px, -1px) scale(0.9);
}

.container .rightSide-container #visit-container {
    display: grid;
    justify-content: center;
    align-content: baseline;
}

.container .rightSide-container #visit-container #border-container {
    /* display: grid; */
    font-size: 2em;
    color: #00cc99;
    width: 250px;
    /* height: 100%; */
    display: grid;
    /* justify-content: space-around; */
    grid-template-columns: 1fr 1fr 1fr;
    border-top-width: 2px 2px 0 0;
    border-top-style: dashed;
    border-top-color: #00cc99;
    padding-top: .4em;
}

.container .rightSide-container #visit-container #border-container a {
    display: grid;
    justify-self: center;
    color: #00cc99;
}